body {
    background-color: black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.filler {
    width: 100px;
    height: 100px;
    visibility: hidden;
    padding-right: 1rem;
}

/* header */

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .dropdown{
    padding-right: 1rem;
    padding-bottom: 2.5rem;
}

.soundsphere{
    background-color: gray;
    color: #fff;
    font-size: 50px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 3px;
    margin: 3px 0px;
}

.dropdown .btn{
    background-color: gray;
    color: white;
    border: white 1px solid;
}

/* Dropdown menu background color*/
.dropdown .dropdown-menu {     
    background-color: darkgray;  
}

/* Dropdown menu font color*/ 
 .dropdown .dropdown-menu a{   
    color: black;  
    text-align: center;
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form{
    padding: 5px;
    color: white;
    background-color: gray;
    border: white 1px solid;
    border-radius: 10px;
}

.song-display {
    border: #333232 solid 3px;
    padding: 283px;
    background-color: #333232;
    border-radius: 10px;
    margin: 20px;
    color:white;
}

.input-form input{
    border-radius: 10px;
    border: black 1px solid;
}


/* playlist */
   
.playlist-hover {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.playlist-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.playlist-hover:active {
    color: #000
}

.playlist-hover:active:after {
    background: transparent;
}

.playlist-hover:hover:before {
    opacity: 1;
}

.playlist-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


/* add-playlist */
   
.add-playlist-hover {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
    left: 60px;
}

.add-playlist-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.add-playlist-hover:active {
    color: #000
}

.add-playlist-hover:active:after {
    background: transparent;
}

.add-playlist-hover:hover:before {
    opacity: 1;
}

.add-playlist-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 30px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* open lyrics */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    left: 850px;
    top: -260px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* delete button */

.delete-button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
    left: 880px;
    top: -260px;
}

.delete-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 30px;
}

.delete-button:active {
    color: #000
}

.delete-button:active:after {
    background: transparent;
}

.delete-button:hover:before {
    opacity: 1;
}

.delete-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 30px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}