body {
    background-color: black;
}

a {
    text-decoration: none;
}

.filler {
    width: 100px;
    height: 100px;
    visibility: hidden;
    padding-right: 1rem;
}

/* header */

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .dropdown{
    padding-right: 1rem;
    padding-bottom: 2.5rem;
}

.soundsphere{
    background-color: gray;
    color: #fff;
    font-size: 50px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 3px;
    margin: 3px 0px;
}

.dropdown .btn{
    background-color: gray;
    color: white;
    border: white 1px solid;
}

/* Dropdown menu background color*/
.dropdown .dropdown-menu {     
    background-color: darkgray;  
}

/* Dropdown menu font color*/ 
 .dropdown .dropdown-menu a{   
    color: black;  
    text-align: center;
}

/* main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form{
    padding: 5px;
    color: white;
    background-color: gray;
    border: white 1px solid;
    border-radius: 10px;
}

.song-display {
    border: #333232 solid 3px;
    padding: 283px;
    background-color: #333232;
    border-radius: 10px;
    margin: 20px;
    color:white;
}

.input-form input{
    border-radius: 10px;
    border: black 1px solid;
}

.card-obj{
    background-color: gray;
    width:fit-content;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    border: white 1px solid;
}